<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/chat/chatStyle.css}">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<div class="chat-header">
    <h2>채팅목록</h2>
</div>
<div class="chat-body">
    <ul>
        <li class="chat-item">
            <i class="fas fa-user-circle chat-icon"></i>
            <div class="chat-info">
                <div class="chat-name">User 1</div>
                <div class="chat-message">Last message...</div>
            </div>
        </li>
    </ul>
</div>
</body>
</html>