<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat Room</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/chat/chatStyle.css}">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.4.0/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <script th:inline="javascript">
        /*[[ sessionId와 roomId를 JavaScript 변수로 전달 ]]*/
        var sessionId = [[${userId}]] || 'default-session-id';
        var currentChatRoomId = [[${roomId}]] || 'default-room-id';
    </script>
    <script src="/js/chat/chat.js"></script>
</head>
<body>
<div class="chat-room-container">
    <div class="chat-body">
        <ul id="chat-items">
            <!-- 타임리프를 사용하여 서버에서 전달된 기존 메시지를 렌더링 -->
            <li th:each="message : ${messages}" class="chat-item"
                th:classappend="${message.senderId == sessionId} ? 'my-message' : 'other-message'">
                <i class="fas fa-user-circle chat-icon"></i>
                <div class="chat-info">
                    <div class="chat-name" th:text="${message.sender}">User</div>
                    <div class="chat-message" th:text="${message.content}">Message</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="message-input">
        <input type="text" id="message" placeholder="Type a message...">
        <button onclick="sendMessage()">Send</button>
    </div>
</div>
</body>
</html>