<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/chat/chatStyle.css}">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<div th:replace="fragment/header :: header"></div>

<div class="container">
    <div class="phone-screen">
        <div th:include="chat :: chat"></div>
    </div>
</div>

<div th:replace="fragment/footer :: footer"></div>
</body>
</html>