<main th:fragment="festivalBox">
    <link rel="stylesheet" href="" th:href="@{/css/festival/festival.css}">

    <div class="festival">
        <!-- 검색 폼 -->
        <form id="frm" action="/api/v1/festival/search" method="get" th:object="${getFestival}">
            <div class="container">
                <div class="festival_festivalName">
                    <li>
                        <input type="text" name="festivalName" id="festivalName" th:field="*{festivalName}"
                               placeholder="축제명을 입력해주세요."/>
                    </li>
                </div>
                <div class="Btn">
                    <button type="submit" id="getBtn">조회</button>
                </div>
            </div>
        </form>

        <!-- 페스티벌 리스트 -->
        <div class="container-body" id="festivalContainer">
            <ul>
                <li th:each="festival : ${festivals}">
                    <div class="image-container">
                        <a th:href="@{/api/v1/festival/detail/{festivalId}(festivalId=${festival.festivalId})}">
                            <img th:src="@{${festival.festivalImgUrl}}" alt="Festival Image">
                        </a>
                        <div class="image-content">
                            <a th:href="@{/api/v1/festival/detail/{festivalId}(festivalId=${festival.festivalId})}">
                                <p th:text="${festival.festivalName}"></p>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <script defer src="" th:src="@{/js/festival/festival.js}"></script>

</main>