@charset "utf-8";

/* 공통 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f9f9f9;
    color: #333;
}
/* 메인 스타일 */
main {
    overflow: auto;
    height: 100%;
    width: 100%;
    box-sizing: border-box; /* 패딩 포함 */
    background-color: #f9f9f9; /* 배경색 */
    border-radius: 10px; /* 부드러운 모서리 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
}
/* 메인 컨테이너 */
.festival-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.festival-detail {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.festival-title {
    text-align: center;
    font-size: 24px;
    color: #4CAF50;
    margin-bottom: 20px;
}

.festival-image-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.festival-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.festival-info {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 10px;
}

.festival-info p {
    margin: 10px 0;
}

.festival-info strong {
    color: #4CAF50;
}

.festival-info a {
    color: #29aeec;
    text-decoration: none;
}

.festival-info a:hover {
    text-decoration: underline;
}

.festival-not-found {
    text-align: center;
    font-size: 18px;
    color: #999;
}

/* 버튼 스타일 */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.styled-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.styled-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.styled-button:active {
    background-color: #3e8e41;
    transform: scale(0.98);
}
