<main th:fragment="memberModifyBox">
    <link rel="stylesheet" href="" th:href="@{/css/member/memberModify.css}">
    <div class="main-sub">
        <form action="/api/v1/user/modify" id="modifyForm" method="post" th:object="${modifyForm}"
              enctype="multipart/form-data">
            <div class="container">
                <div class="container-body">
                    <div class="inputInfo">
                        <div class="member_profileImgUrl">
                            <div style="position: relative; display: block; text-align: center;">
                                <input type="file" id="file" name="file" accept="image/*" onchange="showImage(this)"
                                       style="display: none;">
                                <img id="profileImgUrl"
                                     th:src="*{profileImgUrl}"
                                     alt="Selected Image"
                                     style="max-width: 300px; max-height: 300px; display: block; margin: auto; object-fit: contain;">

                                <button type="button" onclick="deleteImage();"
                                        style="position: absolute; top: 0; right: 0; padding: 5px;">X
                                </button>
                                <button type="button" onclick="document.getElementById('file').click();"
                                        style="display: block; margin: 10px auto 0;">사진 수정
                                </button>
                            </div>
                            <input type="hidden" id="hiddenProfileImgUrl" name="profileImgUrl"
                                   th:value="*{profileImgUrl}"/>
                        </div>

                        <div class="member_nickname">
                            <li>
                                <label for="nickName">사용자명:</label>
                                <input type="text" name="nickName" id="nickName" th:field="*{nickName}"
                                       placeholder="이름을 입력해주세요."/>
                                <p th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}"
                                   class="errmsg visible"></p>
                            </li>
                        </div>

                        <div class="member_manner_score">
                            <li>
                                <label for="mannerScore">매너점수:</label>
                                <input type="text" name="mannerScore" id="mannerScore" th:field="*{mannerScore}"
                                       readonly="readonly"/>
                            </li>
                        </div>

                        <div class="member_introduction">
                            <li>
                                <label for="introduction">자기소개:</label>
                                <input type="text" name="introduction" id="introduction" th:field="*{introduction}"
                                       placeholder="자기소개를 작성해주세요."/>
                                <p th:if="${#fields.hasErrors('introduction')}" th:errors="*{introduction}"
                                   class="errmsg visible"></p>
                            </li>
                        </div>
                    </div>

                    <div class="Btn">
                        <a th:href="@{/api/v1/user/myPageRemove}">탈퇴</a>
                        <button type="button" id="modifyBtn">수정</button>
                    </div>

                    <div class="Btn">
                        <a href="#" id="logoutButton" role="button">로그아웃</a>
                    </div>

                </div>
            </div>
        </form>
    </div>

    <script defer src="" th:src="@{/js/logout.js}"></script>
    <script defer src="" th:src="@{/js/member/profileEditForm.js}"></script>

</main>

