<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.googoo.festivaldotcom.function.festivalApi.repository.FstvlApiRepository">

    <insert id="insertFstvlData" parameterType="com.googoo.festivaldotcom.function.festivalApi.vo.FstvlData">
        INSERT INTO FSTVL_DATA (
        FSTVL_NAME, OPAR, FSTVL_START_DATE, FSTVL_END_DATE, FSTVL_CO,
        MNNST_NAME, AUSPC_INSTT_NAME, SUPRT_INSTT_NAME, PHONE_NUMBER,
        HOMEPAGE_URL, RELATE_INFO, RDNMADR, LNMADR, LATITUDE, LONGITUDE,
        REFERENCE_DATE, INSTT_CODE
        ) VALUES (
        #{fstvlNm}, #{opar}, #{fstvlStartDate}, #{fstvlEndDate}, #{fstvlCo},
        #{mnnstNm}, #{auspcInsttNm}, #{suprtInsttNm}, #{phoneNumber},
        #{homepageUrl}, #{relateInfo}, #{rdnmadr}, #{lnmadr}, #{latitude}, #{longitude},
        #{referenceDate}, #{insttCode}
        )
    </insert>
</mapper>