<configuration packagingData="true">
    <!-- 컬러 변환 규칙 추가 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <!-- 콘솔 로그 패턴 정의 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyyMMdd HH:mm:ss.SSS}){magenta} %clr([%thread]){blue} %clr(%-5level){} %clr([%logger{0}:%line]){cyan} : %msg %n"/>

    <!-- 파일 로그 패턴 정의 -->
    <property name="FILE_LOG_PATTERN"
              value="%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-5level [%logger{0}:%line] : %msg%n"/>

    <!-- 로그 파일 저장 위치 설정 -->
    <property name="LOGS" value="./logs"/>

    <!-- 콘솔 출력을 위한 Appender 설정 -->
    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- MyBatis SQL Logger -->
<!--    <logger name="com.p6spy" level="INFO"/>-->
<!--    <logger name="com.p6spy" level="DEBUG"/>-->

    <logger name="com.p6spy" level="DEBUG" additivity="true">
        <appender-ref ref="CONSOLE_APPENDER"/>
        <appender-ref ref="FILE_APPENDER"/>
    </logger>

    <!-- 로컬 환경 설정 -->
    <springProfile name="local">
        <include resource="appender/googoo-console-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE_APPENDER"/>
            <appender-ref ref="FILE_APPENDER"/>
        </root>
    </springProfile>

    <!-- 개발 환경 설정 -->
    <springProfile name="dev">
        <include resource="appender/googoo-console-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE_APPENDER"/>
            <appender-ref ref="FILE_APPENDER"/>
        </root>
    </springProfile>
</configuration>
