<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/chat/chatStyle.css}">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<footer>
    <nav>
        <ul>
            <li><i class="fa-solid fa-list"></i></li>
            <li><i class="fas fa-comments"></i></li>
            <li><i class="fas fa-question-circle"></i></li>
            <li><i class="fas fa-user"></i></li>
        </ul>
    </nav>
</footer>
</body>
</html>