<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/chat/chatStyle.css}">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<div th:fragment="header">
    <div class="app-header">
        <div class="header-title">페이지 설명</div>
        <div class="header-settings">
            <i class="fas fa-cog settings-icon"></i> <!-- 톱니바퀴 아이콘 -->
        </div>
    </div>
</div>
</body>
</html>
