<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지</title>



</head>

<body>
<nav th:fragment="mypageSide">
  <aside class="page-aside-wrap" id="sidebar" style="z-index: 5000; position: fixed; height: 100%">
<!--  <aside class="page-aside-wrap" id="sidebar" >-->
    <div class="aside-menu-tab" style="background-color: white;  height: 100%">
      <div class="aside-title">
        <button id="sidebarToggle" class="image-button"></button>

        <a href="javascript:void(0)" class="aside-title-myPage">
          <span>마이페이지</span>
        </a>
      </div>
      <nav class="nav-tab">
        <ul class="nav-list-wrap">
          <li class="nav-list-each my-history " >
            <a href="javascript:void(0)" class="my-history">나의 활동 내역</a>
            <ul>
              <li>
                <a href="" th:href="@{|/members/myinfo/${s_id}|}">- 내가 찜한 축제</a>
              </li>
              <li>
                <a href=""  th:href="@{|/members/review/${s_id}|}">- 내가 작성한 리뷰</a>
              </li>
            </ul>
          </li>

          <li class="nav-list-each my-history " >
            <a href="javascript:void(0)" class="my-history">회원정보</a>
            <ul>
              <li>
                <a href="" th:href="@{/members/{MemberEmail}/memberModify(MemberEmail=${s_email})}">- 회원 정보 수정</a>
              </li>
              <li>
                <a href="" th:href="@{/members/{email}/memberDel(email=${s_email})}">- 회원 탈퇴</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </aside>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var sidebarToggle = document.getElementById('sidebarToggle');
      var asideTitle = document.querySelector('.aside-title-myPage'); // '마이페이지'를 포함하는 타이틀
      var navTab = document.querySelector('.nav-tab'); // '나의 활동 내역' 및 '회원정보'를 포함하는 네비게이션 탭
      var sidebar = document.getElementById('sidebar');

      sidebarToggle.addEventListener('click', function() {
        sidebar.classList.toggle('active');
        // display 속성을 토글하여 요소를 보이거나 숨김
        asideTitle.style.display = asideTitle.style.display === 'none' ? '' : 'none';
        navTab.style.display = navTab.style.display === 'none' ? '' : 'none';
      });
    });
  </script>


</nav>
</body>

</html>