@charset "utf-8";

main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

main .container-body {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

main form {
  /*position: relative;*/
  top: 135px;
  left: 235px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #8cc841, #29aeec 50%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  padding: 10px;
  box-shadow: 0 15px 10px -7px #eee;
  width: 99%;
}

main li {
  list-style: none;
}

main ul {
  padding: 0px;
}

main img {
  padding: 10px 15px;
  /*width: 250px;*/
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 20px 10px 0;
  letter-spacing: 1px;
  font-size: 16px;
  width: 185px;
  height: 40px;
}
