<main th:fragment="loginBox">
    <link rel="stylesheet" href="" th:href="@{/css/login/login.css}">
    <form>
        <div class="container">
                <div class="container-body">
                    <ul>
                        <li>
                            <!-- Google Login Button -->
                            <a href="/oauth2/authorization/google?redirect_uri=http://localhost:8080">
                                <img src="/img/google.png" alt="Google 로그인" >
                            </a>
                        </li>
                        <li>
                            <!-- Naver Login Button -->
                            <a href="/oauth2/authorization/naver?redirect_uri=http://localhost:8080">
                                <img src="/img/naver.png" alt="네이버 로그인" >
                            </a>
                        </li>
                        <li>
                            <!-- Kakao Login Button -->
                            <a href="/oauth2/authorization/kakao?redirect_uri=http://localhost:8080">
                                <img src="/img/kakao.png" alt="카카오 로그인" >
                            </a>
                        </li>
                    </ul>
            </div>
        </div>
    </form>
</main>

