body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.header-title {
    font-size: 16px;
    font-weight: bold;
}

.header-settings {
    font-size: 20px;
    cursor: pointer;
}

footer {
    background-color: #ffffff;
    padding: 15px 0;
    border-top: 1px solid #ddd;
    position: relative;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ddd;
}

nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-left: 1px solid #ddd;
    flex: 1;
}

nav li:first-child {
    border-left: none;
}

nav li i {
    font-size: 24px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.phone-screen {
    width: 375px;
    height: 667px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.chat-header {
    background-color: #f7f7f7;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.chat-body {
    overflow-y: auto;
    flex: 1;
    border-bottom: 1px solid #ddd;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.chat-item:last-child {
    border-bottom: none;
}

.chat-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-info {
    display: flex;
    flex-direction: column;
}

.chat-name {
    font-weight: bold;
}

.chat-message {
    color: #888;
    font-size: 14px;
}

/* 본인 메시지와 타인 메시지를 구분하는 스타일 */
.my-message {
    justify-content: flex-end; /* 본인 메시지는 오른쪽 정렬 */
}

.my-message .chat-info {
    background-color: #dcf8c6; /* 본인 메시지의 배경색 */
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
}

.other-message .chat-info {
    background-color: #eaeaea; /* 타인의 메시지 배경색 */
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}
