@charset "utf-8";


main .member_email {
    display: inline-flex;
}

main .member_tel {
    display: inline-flex;
}

main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main .container-body {
    text-align: center;
}

main .inputInfo {
    width: 100%;
}

main .inputInfo li {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main form {
    /*position: relative;*/
    top: 135px;
    left: 235px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #8cc841, #29aeec 50%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding: 10px;
    box-shadow: 0 15px 10px -7px #eee;
    /*width: 700px;*/
}

main li {
    list-style: none;
}

main input {
    padding: 10px 15px;
    /*width: 250px;*/
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 20px 10px 0;
    letter-spacing: 1px;
    font-size: 16px;
}

main .Btn button, .Btn a {
    background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #8cc841, #29aeec 50%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    font-family: 'Jeju Gothic', sans-serif;
    cursor: pointer;
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 15px;
}

main button {
    background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #8cc841, #29aeec 50%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    font-family: 'Jeju Gothic', sans-serif;
    cursor: pointer;
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 16px;
    color: black;
    font-weight: bold;
}


main .Btn {
    display: flex;
    justify-content: center;
    margin: 40px;
}


main .member_gender label {
    width: 25%;
}

main .member_gender li {
    display: flex;
    padding: 10px 30px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 20px 20px 0;
    letter-spacing: 1px;
    font-size: 16px;
}

main #memberGender1,
main #memberGender2 {
    margin: 0;
    width: 25%;
}


p.errmsg.visible {
    font-weight: bold;
    color: red;
    margin: 5px;
}
